{% extends "base.html" %}

{% block title %} Vacancies {% endblock %}

{% load static %}

{% block css_additional %}
<link rel="stylesheet" type="text/css" href="{% static 'projects/vacancies_page/css/styles.css' %}">
{% endblock %}

{% block content %}
<div class="container">
  {% for company in companies %}
  <div class="card">
    <div class="box">
      <div class="content">
        <h2>{{ company.country.name }}</h2>
        <h3>{{company.company_name}}</h3>
        <p><a id="website" target="_blank" href="{{ company.website }}">Website</a></p>
        <a href="{{ company.get_company_profile }}">Read More</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content%}