{% extends "base.html" %}

{% block title %} Change Password {% endblock %}

{% load static %}

{% block css_additional %}
<link rel="stylesheet" href="{% static 'registration/password_reset_confirm/css/styles.css' %}">
{% endblock %}

{% block content %}
<div class="forgot-pass-screen">
  <h1 id="h1">Enter a new password</h1>
  {% if form.errors %}
  <h4 id="h4">{{form.errors.new_password2}}</h4>
  {% endif %}
  <form method="post">
    {% csrf_token %}
  <input class="password-input" type="password" name="new_password1" placeholder="Password"  required>
  </br></br>
  <input class="password2-input" type="password" name="new_password2" placeholder="Repeat password"  required>
  </br></br>
  <button class="confirm-button" type="submit">Save new password</button>
  </form>
</div>
{% endblock content %}
