{% extends "base.html" %}

{% block title %} Reset Password {% endblock %}

{% load static %}

{% block css_additional %}
<link rel="stylesheet" href="{% static 'registration/password_reset_form/css/styles.css' %}">
{% endblock %}

{% block content %}
<div class="forgot-pass-screen">
  <h1 id="h1">Forgot your password?</h1>
  <h4 id="h4">Type your email address below and we'll send you a reset link</h4>
  <form method="post">
    {% csrf_token %}
  <input class="email-input" type="email" name="email" placeholder="Email address"  required>
  </br></br>
  <button class="confirm-button" type="submit">Send password reset link</button>
  </form>
</div>
{% endblock content %}